<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - LaKhWaN</title>
  </head>
  <body>
    <h2>What you want to do?</h2>
    <form action="/searchfriend" method="get">
      <button type="submit">Make Friend</button>
    </form>
    <br>
    <form action="/friends" method="get">
      <button type="submit">Friend List</button>
    </form>
    <br>
    <form action="/searchfriendchat" method="get">
      <button type="submit">Livechat</button>
    </form>
    
  </body>
</html>
